<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumberOneAcademy Machine Test</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>


    <div class="wrapper">
        <h1>
            <%=heading %>
        </h1>

        <div class="crawler">
            <div class="crawler__actions">
                <button id ="start" class="crawler__actions--start button">Start</button>
                <button id= "stop" class="crawler__actions--stop button">Stop</button>
            </div>
            <div class="crawler__files">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody >
             
  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="scripts/scripts.js"></script>
</body>

</html>